@mixin Btn1($clr, $hover-clr) {
  color: $clr;
  background: none;
  border: none;
  font-weight: 700;
  font-family: inherit;

  &:hover {
    color: $hover-clr;
  }
}

@mixin btn2($bg-clr, $hover-clr) {
  padding: 1em 1.5em;
  background: $bg-clr;
  border: none;
  border-radius: 0.5rem;
  font-family: inherit;
  color: $White;
  font-weight: 500;

  &:hover {
    background: $hover-clr;
  }
}

@mixin textarea {
  resize: none;
  padding: 1rem;
  font-family: inherit;
  border: 1px solid $Light-gray;
  outline: none;
  border-radius: 0.5rem;

  &:focus,
  &:active {
    border-color: $Dark-blue;
  }
}
