* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #f5f6fa;
  font-family: "Rubik", sans-serif;
}

button {
  cursor: pointer;
  font-family: inherit;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

i {
  pointer-events: none;
}

p, .comment-container .comment .content .comment-text, .comment-container .reply-section .reply-container .reply .content .comment-text, .reply-section .reply-container .comment-container .reply .content .comment-text {
  color: #324152;
  line-height: 1.5;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
  padding: 2.5rem 0;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: rgba(58, 58, 58, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 99999;
  opacity: 0;
  display: none;
}

.overlay .popup {
  background: white;
  width: 90%;
  max-width: 400px;
  padding: 1rem;
  border-radius: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  color: #324152;
  opacity: 0;
}

.overlay .popup .options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  gap: 2vw;
}

.overlay .popup .options .option-no {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 1em 1.5em;
  background: #324152;
  border: none;
  border-radius: 0.5rem;
  font-family: inherit;
  color: white;
  font-weight: 500;
}

.overlay .popup .options .option-no:hover {
  background: #67727e;
}

.overlay .popup .options .option-yes {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 1em 1.5em;
  background: #ed6468;
  border: none;
  border-radius: 0.5rem;
  font-family: inherit;
  color: white;
  font-weight: 500;
}

.overlay .popup .options .option-yes:hover {
  background: #ffb8bb;
}

.unclickable {
  color: #c3c4ef !important;
  pointer-events: none;
}

.desktop-btn {
  display: none;
}

.user-exclusive-btns {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2vw;
}

.user-exclusive-btns .delete-btn {
  color: #ed6468;
  background: none;
  border: none;
  font-weight: 700;
  font-family: inherit;
}

.user-exclusive-btns .delete-btn:hover {
  color: #ffb8bb;
}

.user-exclusive-btns .edit-btn {
  color: #5457b6;
  background: none;
  border: none;
  font-weight: 700;
  font-family: inherit;
}

.user-exclusive-btns .edit-btn:hover {
  color: #c3c4ef;
}

.comments-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}

.mentioned {
  color: #5457b6;
  font-weight: 500;
}

.comment-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

.comment-container .rating-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.comment-container .rating-container .rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background: #f5f6fa;
  border-radius: 0.5rem;
  overflow: hidden;
}

.comment-container .rating-container .rating button {
  background: none;
  border: none;
  color: #c3c4ef;
  -webkit-transition: inherit;
  transition: inherit;
}

.comment-container .rating-container .rating button:hover {
  color: #5457b6;
}

.comment-container .rating-container .rating .rating-display {
  font-weight: 500;
  color: #5457b6;
}

.comment-container .rating-container .rating > * {
  padding: 0.75em;
}

.comment-container .rating-container .reply-initiate-btn {
  color: #5457b6;
  background: none;
  border: none;
  font-weight: 700;
  font-family: inherit;
}

.comment-container .rating-container .reply-initiate-btn:hover {
  color: #c3c4ef;
}

.comment-container .comment, .comment-container .reply-section .reply-container .reply, .reply-section .reply-container .comment-container .reply {
  background: white;
  border-radius: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 4vw;
  padding: 1rem;
}

.comment-container .comment .heading-content .you, .comment-container .reply-section .reply-container .reply .heading-content .you, .reply-section .reply-container .comment-container .reply .heading-content .you {
  display: none;
}

.comment-container .comment .user-exclusive-btns, .comment-container .reply-section .reply-container .reply .user-exclusive-btns, .reply-section .reply-container .comment-container .reply .user-exclusive-btns {
  display: none;
  margin-left: auto;
}

.comment-container .comment .content, .comment-container .reply-section .reply-container .reply .content, .reply-section .reply-container .comment-container .reply .content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

.comment-container .comment .content .comment-text, .comment-container .reply-section .reply-container .reply .content .comment-text, .reply-section .reply-container .comment-container .reply .content .comment-text {
  width: 100%;
  border: none;
}

.comment-container .comment .content .update-btn, .comment-container .reply-section .reply-container .reply .content .update-btn, .reply-section .reply-container .comment-container .reply .content .update-btn {
  display: none;
}

.comment-container .the-user.the-user .mobile-btn {
  display: block;
}

.comment-container .the-user.the-user .reply-initiate-btn {
  display: none;
}

.comment-container .the-user.the-user .heading-content .you.you {
  display: block;
  color: white;
  background: #5457b6;
  padding: 0.125rem 0.25rem;
  font-size: 0.75rem;
  border-radius: 5px;
  font-weight: 500;
  margin-left: -1vw;
}

.comment-container .the-user.the-user .user-exclusive-btns.mobile-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.comment-container .the-user.the-user .user-exclusive-btns.desktop-btn {
  display: none;
}

.comment-container .edit.edit .content p.comment-text, .comment-container .edit.edit .comment .content .comment-text, .comment-container .comment .edit.edit .content .comment-text, .comment-container .edit.edit .reply-section .reply-container .reply .content .comment-text, .comment-container .reply-section .reply-container .reply .edit.edit .content .comment-text, .reply-section .reply-container .comment-container .edit.edit .reply .content .comment-text, .reply-section .reply-container .comment-container .reply .edit.edit .content .comment-text,
.comment-container .edit.edit .content p.reply-text,
.comment-container .edit.edit .comment .content .reply-text.comment-text,
.comment-container .comment .edit.edit .content .reply-text.comment-text,
.comment-container .edit.edit .reply-section .reply-container .reply .content .reply-text.comment-text,
.comment-container .reply-section .reply-container .reply .edit.edit .content .reply-text.comment-text,
.reply-section .reply-container .comment-container .edit.edit .reply .content .reply-text.comment-text,
.reply-section .reply-container .comment-container .reply .edit.edit .content .reply-text.comment-text {
  resize: none;
  padding: 1rem;
  font-family: inherit;
  border: 1px solid #eaecf1;
  outline: none;
  border-radius: 0.5rem;
  width: 100%;
  max-width: 700px;
  min-height: 7.5rem;
  max-height: 10rem;
  overflow: auto;
  overflow-wrap: normal;
}

.comment-container .edit.edit .content p.comment-text:focus, .comment-container .edit.edit .comment .content .comment-text:focus, .comment-container .comment .edit.edit .content .comment-text:focus, .comment-container .edit.edit .reply-section .reply-container .reply .content .comment-text:focus, .comment-container .reply-section .reply-container .reply .edit.edit .content .comment-text:focus, .reply-section .reply-container .comment-container .edit.edit .reply .content .comment-text:focus, .reply-section .reply-container .comment-container .reply .edit.edit .content .comment-text:focus, .comment-container .edit.edit .content p.comment-text:active, .comment-container .edit.edit .comment .content .comment-text:active, .comment-container .comment .edit.edit .content .comment-text:active, .comment-container .edit.edit .reply-section .reply-container .reply .content .comment-text:active, .comment-container .reply-section .reply-container .reply .edit.edit .content .comment-text:active, .reply-section .reply-container .comment-container .edit.edit .reply .content .comment-text:active, .reply-section .reply-container .comment-container .reply .edit.edit .content .comment-text:active,
.comment-container .edit.edit .content p.reply-text:focus,
.comment-container .edit.edit .comment .content .reply-text.comment-text:focus,
.comment-container .comment .edit.edit .content .reply-text.comment-text:focus,
.comment-container .edit.edit .reply-section .reply-container .reply .content .reply-text.comment-text:focus,
.comment-container .reply-section .reply-container .reply .edit.edit .content .reply-text.comment-text:focus,
.reply-section .reply-container .comment-container .edit.edit .reply .content .reply-text.comment-text:focus,
.reply-section .reply-container .comment-container .reply .edit.edit .content .reply-text.comment-text:focus,
.comment-container .edit.edit .content p.reply-text:active,
.comment-container .edit.edit .comment .content .reply-text.comment-text:active,
.comment-container .comment .edit.edit .content .reply-text.comment-text:active,
.comment-container .edit.edit .reply-section .reply-container .reply .content .reply-text.comment-text:active,
.comment-container .reply-section .reply-container .reply .edit.edit .content .reply-text.comment-text:active,
.reply-section .reply-container .comment-container .edit.edit .reply .content .reply-text.comment-text:active,
.reply-section .reply-container .comment-container .reply .edit.edit .content .reply-text.comment-text:active {
  border-color: #324152;
}

.comment-container .edit.edit .content button.update-btn {
  padding: 1em 1.5em;
  background: #5457b6;
  border: none;
  border-radius: 0.5rem;
  font-family: inherit;
  color: white;
  font-weight: 500;
  -ms-flex-item-align: end;
      align-self: flex-end;
  display: block !important;
}

.comment-container .edit.edit .content button.update-btn:hover {
  background: #c3c4ef;
}

.heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.heading .heading-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2vw;
  font-size: 1rem;
}

.heading .heading-content .avatar {
  width: 15%;
}

.heading .heading-content h3 {
  font-size: 1rem;
}

.heading .heading-content .date {
  color: #67727e;
  font-size: 0.85rem;
}

.heading .reply-initiate-btn {
  margin-left: auto;
  color: #5457b6;
  background: none;
  border: none;
  font-weight: 700;
  font-family: inherit;
}

.heading .reply-initiate-btn:hover {
  color: #c3c4ef;
}

.reply-section {
  display: none;
  gap: 5vw;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.reply-section .line {
  position: relative;
}

.reply-section .line::after {
  content: "";
  position: absolute;
  width: 5px;
  height: 100%;
  background: #eaecf1;
}

.reply-section .reply-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.send-comment,
.reply-temporary {
  padding: 1rem;
  border-radius: 0.5rem;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  gap: 1rem;
}

.send-comment.reply-temporary,
.reply-temporary.reply-temporary {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  height: 0;
  padding: 0;
  overflow: hidden;
  display: none;
  -webkit-transform: scale(0.85);
          transform: scale(0.85);
}

.send-comment textarea,
.reply-temporary textarea {
  resize: none;
  padding: 1rem;
  font-family: inherit;
  border: 1px solid #eaecf1;
  outline: none;
  border-radius: 0.5rem;
}

.send-comment textarea:focus, .send-comment textarea:active,
.reply-temporary textarea:focus,
.reply-temporary textarea:active {
  border-color: #324152;
}

.send-comment .send-submit-btn,
.send-comment .reply-submit-btn,
.reply-temporary .send-submit-btn,
.reply-temporary .reply-submit-btn {
  padding: 1em 1.5em;
  background: #5457b6;
  border: none;
  border-radius: 0.5rem;
  font-family: inherit;
  color: white;
  font-weight: 500;
}

.send-comment .send-submit-btn:hover,
.send-comment .reply-submit-btn:hover,
.reply-temporary .send-submit-btn:hover,
.reply-temporary .reply-submit-btn:hover {
  background: #c3c4ef;
}

.send-comment .send-inner,
.send-comment .temp-inner,
.reply-temporary .send-inner,
.reply-temporary .temp-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.send-comment .send-inner .avatar,
.send-comment .temp-inner .avatar,
.reply-temporary .send-inner .avatar,
.reply-temporary .temp-inner .avatar {
  width: 12.5%;
  max-width: 3rem;
}

#is-active {
  height: auto;
  padding: 1rem;
}

@-webkit-keyframes zoom {
  50% {
    -webkit-transform: scale(1.125);
            transform: scale(1.125);
    font-weight: 700;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    font-weight: 500;
  }
}

@keyframes zoom {
  50% {
    -webkit-transform: scale(1.125);
            transform: scale(1.125);
    font-weight: 700;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    font-weight: 500;
  }
}

@media (min-width: 800px) {
  .desktop-btn {
    display: block;
  }
  .mobile-btn {
    display: none;
  }
  .reply-section .line {
    left: 2.5%;
  }
  .comment-container .comment, .comment-container .reply-section .reply-container .reply, .reply-section .reply-container .comment-container .reply {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .comment-container .comment .rating-container, .comment-container .reply-section .reply-container .reply .rating-container, .reply-section .reply-container .comment-container .reply .rating-container {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .comment-container .comment .rating-container .rating, .comment-container .reply-section .reply-container .reply .rating-container .rating, .reply-section .reply-container .comment-container .reply .rating-container .rating {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .comment-container .the-user.the-user .user-exclusive-btns.mobile-btn {
    display: none;
  }
  .comment-container .the-user.the-user .user-exclusive-btns.desktop-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .send-comment,
  .reply-temporary {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .send-comment textarea,
  .reply-temporary textarea {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .send-comment .send-inner,
  .send-comment .temp-inner,
  .reply-temporary .send-inner,
  .reply-temporary .temp-inner {
    width: 3rem;
  }
  .send-comment .send-inner .avatar,
  .send-comment .temp-inner .avatar,
  .reply-temporary .send-inner .avatar,
  .reply-temporary .temp-inner .avatar {
    width: 100%;
  }
}
/*# sourceMappingURL=main.css.map */